body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #eaeaea;
}

.total-container {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.3);
          box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  margin: 0 auto;
  background-color: #fff;
}

.main-nav {
  line-height: 26px;
  position: relative;
  z-index: 1;
}

.main-logo {
  width: 140px;
  height: 71px;
  position: absolute;
  margin: 0 auto;
  left: 530px;
  z-index: 2;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 56px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav a {
  color: #000000;
}

.site-nav a:hover {
  color: #81b3d2;
}

.site-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-nav li {
  width: 239px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 72px;
  padding: 0;
  text-align: left;
}

.site-nav li:nth-child(2) {
  margin-left: 2px;
}

.site-nav li:nth-child(3) {
  margin-right: -66px;
  margin-left: auto;
  text-align: right;
}

.site-nav li:last-child {
  margin-right: 71px;
  text-align: right;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-photo {
  position: relative;
  width: 1200px;
  height: 507px;
  background-color: #81b3d2;
  background-image: url("../img/background_photo.jpg");
  background-position: 0 -55.5px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.main-photo::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 31%;
  width: 459px;
  height: 353px;
  background-image: url("../img/welcome.png");
}

.main-photo::after {
  content: "";
  display: block;
  position: absolute;
  left: -2px;
  bottom: -1.5px;
  width: 1202px;
  height: 59px;
  background-image: url("../img/polygon.png");
}

.intro {
  width: 1200px;
  background-color: #ffffff;
}

.intro h3 {
  width: 440px;
  margin: 0;
  padding: 0;
  padding-top: 62px;
  padding-right: 380px;
  padding-left: 380px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.intro p {
  margin: 0;
  padding-top: 27px;
  padding-right: 354px;
  padding-bottom: 50px;
  padding-left: 356px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.reasons ul {
  list-style: none;
}

.reason-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.reason-list {
  margin: 0 auto;
  padding: 0;
}

.blue {
  width: 280px;
  min-height: 146px;
  padding-top: 46px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #81b3d2;
}

.about-bridge {
  width: 310px;
  padding-right: 45px;
  padding-left: 45px;
}

.reason-item img {
  width: 800px;
  height: 256px;
}

.reason-item h3 {
  width: 123px;
  margin: 0;
  margin-top: 2px;
  margin-right: 78px;
  margin-left: 129px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.blue h3 {
  margin-left: 78px;
}

.about-bridge h3 {
  width: 151px;
}

.reason-item p {
  margin: 22px 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.real-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
}

.house::before {
  content: "";
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 29px;
  width: 75px;
  height: 72px;
  background-image: url("../img/house_icon.svg");
  background-repeat: no-repeat;
}

.burger::before {
  content: "";
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 32px;
  width: 74px;
  height: 69px;
  background-image: url("../img/burger_icon.svg");
  background-repeat: no-repeat;
}

.souvenir::before {
  content: "";
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 32px;
  width: 64px;
  height: 70px;
  background-image: url("../img/souvenir_icon.svg");
  background-repeat: no-repeat;
}

.real-city li {
  width: 380px;
  padding-top: 60px;
  padding-right: 10px;
  padding-bottom: 58px;
  padding-left: 10px;
  margin: 0;
}

.real-city li:last-child {
  padding-top: 58px;
}

.real-city p {
  margin-top: 23px;
  color: #333333;
}

.house p {
  width: 255px;
  margin-left: 62px;
}

.burger p {
  width: 288px;
  margin-left: 47px;
}

.souvenir p {
  width: 273px;
  margin-left: 54px;
}

.bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #eeeeee;
}

.bridge li {
  width: 380px;
  margin: 0;
  padding-top: 47px;
  padding-right: 10px;
  padding-bottom: 37px;
  padding-left: 10px;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.bridge h3 {
  margin-left: 78px;
}

.bridge p {
  margin: 22px 0;
  color: #333333;
}

.square p {
  width: 210px;
}

.road p {
  width: 264px;
}

.tourists p {
  width: 250px;
}

.hotel-search {
  margin: 0;
  padding: 0;
  width: 1200px;
  background-color: #fff;
}

.hotel-search h2 {
  margin: 0;
  padding: 0;
  padding-top: 53px;
  padding-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.hotel-search p {
  width: 332px;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 420px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.search-btn {
  margin: 0;
  margin-top: 32px;
  margin-right: 316px;
  margin-left: 316px;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 28px;
  width: 568px;
  min-height: 54px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
  border: 0px solid transparent;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #604e43;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  40% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  40% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  display: block;
  position: absolute;
  margin: 0 316px;
  padding: 0;
  width: 568px;
  min-height: 395px;
}

.modal-search {
  line-height: 26px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.2);
          box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}

.modal-show {
  display: none;
  -webkit-animation: bounce 0.5s;
          animation: bounce 0.5s;
}

.modal-error {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

.date-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 458px;
  padding: 55px;
  padding-right: 54px;
  padding-left: 56px;
  padding-bottom: 0;
  margin: 0;
}

.date-item label {
  margin-top: 7px;
}

.date-item input {
  width: 324px;
  margin: 0;
  margin-bottom: 28px;
  padding-top: 10px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 11px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.date-item input::placeholder {
  color: #000000;
}

.date-item input:hover {
  background-color: #ebebeb;
}

.date-item input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.arrival-calendar {
  position: absolute;
  top: 33.5%;
  right: 11.4%;
  width: 21px;
  height: 22px;
  background-image: url("../img/calendar.png");
  background-repeat: no-repeat;
}

.departure-calendar {
  position: absolute;
  top: 69%;
  right: 11.4%;
  width: 21px;
  height: 22px;
  background-image: url("../img/calendar.png");
  background-repeat: no-repeat;
}

.arrival-calendar:hover,
.departure-calendar:hover {
  background-image: url("../img/calendar-hover.png");
}

.arrival-calendar:active,
.departure-calendar:active {
  background-image: url("../img/calendar-active.png");
}

.guests-item {
  width: 458px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 4px;
  padding: 0;
}

.number-adults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  padding-right: 52px;
  padding-left: 54px;
}

.number-adults label {
  padding-right: 41px;
}

.number-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  padding-right: 55px;
}

.number-children label {
  padding-right: 27px;
}

.btn-minus {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f2f2f2;
  border: 0px solid transparent;
}

.btn-minus:hover {
  background-image: url("../img/minus-hover.png");
}

.btn-minus:active {
  background-image: url("../img/minus-active.png");
}

.btn-plus {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f2f2f2;
  border: 0px solid transparent;
}

.btn-plus:hover {
  background-image: url("../img/plus-hover.png");
}

.btn-plus:active {
  background-image: url("../img/plus-active.png");
}

.number {
  width: 23px;
  min-height: 38px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  font-weight: 700;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  background-color: #f2f2f2;
  border: 0px solid transparent;
}

.find-button {
  width: 458px;
  min-height: 58px;
  margin: 55px;
  margin-top: 53px;
  padding-top: 17px;
  padding-right: 197px;
  padding-bottom: 22px;
  padding-left: 196px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: 0px solid transparent;
  cursor: pointer;
}

.find-button:hover {
  background-color: #669ec0;
}

.find-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.sedona-map {
  margin-bottom: -126px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 33px;
  padding-right: 100px;
  padding-bottom: 29px;
  padding-left: 124px;
  background-color: #fefefe;
  opacity: 0.9;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
}

.footer-contacts a {
  padding-top: 6px;
  color: #000000;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-top: -5px;
  margin-left: -52px;
  padding: 0;
}

.footer-socials li {
  list-style: none;
}

.footer-socials a {
  display: block;
  margin: 0;
  padding: 0;
  width: 46px;
  min-height: 48px;
  font-size: 0;
  line-height: 0;
  background-color: #81b3d2;
}

.footer-socials li:not(:last-child) {
  margin-right: 6px;
}

.footer-socials a:hover {
  background-color: #669ec0;
}

.twitter {
  background-image: url("../img/tw.png");
  background-repeat: no-repeat;
  background-position: center;
}

.twitter:active {
  background-image: url("../img/tw-active.png");
}

.facebook {
  background-image: url("../img/fb.png");
  background-repeat: no-repeat;
  background-position: center;
}

.facebook:active {
  background-image: url("../img/fb-active.png");
}

.youtube {
  background-image: url("../img/youtube.png");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube:active {
  background-image: url("../img/youtube-active.png");
}

.web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.website {
  margin: 0;
  margin-top: -5px;
  padding-right: 8px;
  line-height: 26px;
  font-weight: 400;
}

.htmlacademy-logo path {
  fill: #000000;
}

.htmlacademy-logo:hover path {
  fill: #81b3d2;
}

.htmlacademy-logo:active path {
  fill: #bdbbbc;
}

/* inner */

.on-site {
  color: #766357;
}

.hotel-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 28px;
  padding-right: 74px;
  padding-bottom: 20px;
  padding-left: 72px;
  background-color: #81b3d2;
  background-image: url("../img/filter_background.jpg");
  background-repeat: no-repeat;
}

.hotel-choice p {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
}

.check {
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 40px;
  font-weight: 400;
  color: #ffffff;
}

.check__box {
  position: absolute;
  margin-left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-2.png");
}

.check__input {
  position: absolute;
  left: -9999px;
}

.check__input:focus~span {
  opacity: 1;
  outline-width: 5px;
  outline-style: auto;
  outline-color: #4c99d4;
}

.check__input:checked + .check__box {
  width: 27px;
  background-image: url("../img/checkbox-on.png");
}

.check__input:focus + .check__box {
  background-image: url("../img/checkbox-off-2.png");
  background-repeat: no-repeat;
}

.check__input:checked:focus + .check__box {
  width: 27px;
  background-image: url("../img/checkbox-on.png");
}

.check__input:disabled + .check__box {
  background-image: url("../img/checkbox-off-disabled.png");
  background-repeat: no-repeat;
}

.check__input:checked:disabled + .check__box {
  width: 27px;
  background-image: url("../img/checkbox-on-disabled.png");
}

.infrastructure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.housing-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 119px;
}

.price {
  width: 318px;
  margin-right: -3px;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
}

.price p {
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  min-height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .from,
.price-controls .to {
  width: 90px;
  margin-top: -3px;
  padding-left: 64px;
}

.price-controls .to {
  padding-left: 56px;
}

.price-controls input {
  width: 48px;
  margin: 0;
  color: inherit;
  font-weight: 400;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  min-height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  min-height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  min-height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.price button {
  display: block;
  margin: 0 auto;
  margin-right: 96px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.price button:hover {
  color: #000000;
  background: #ffffff;
}

.sorts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 auto;
  padding-top: 33px;
  padding-right: 73px;
  padding-bottom: 30px;
  padding-left: 72px;
  background-color: #fff;
}

.find {
  margin: 0;
  font-size: 21px;
}

.sorting,
.sorts-list {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting {
  margin-right: 38px;
  margin-left: 47px;
}

.sorts-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sorts-list li {
  list-style: none;
}

.sorts-list a {
  color: rgba(0, 0, 0, 0.3);
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  -webkit-text-decoration-color: #81b3d2;
          text-decoration-color: #81b3d2;
}

.sorts-list a:hover {
  color: #81b3d2;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  -webkit-text-decoration-color: #81b3d2;
          text-decoration-color: #81b3d2;
}

.sorts-list a:active {
  color: #000000;
  text-decoration: none;
}

.by-price {
  margin-right: 32px;
  color: #81b3d2;
}

.by-type {
  margin-right: 32px;
}

.by-rating {
  margin-right: 32px;
}

.up-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 472px;
  list-style: none;
}

.down {
  padding-left: 11px;
}

.up-down:hover polygon {
  fill: #231f20;
}

.up-down:active polygon {
  fill: #81b3d2;
}

.gallery-list {
  margin: 0 auto;
  padding: 0;
  background-color: #fefefe;
  border-top: 1px solid #e5e5e5;
}

.gallery-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 72px;
  padding-top: 18px;
  padding-bottom: 23px;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.gallery-item img {
  margin-top: 12px;
}

.hotel-container {
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.hotel-name {
  margin: 0;
  padding: 0;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.motel {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 15px;
  padding: 2px 0;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.motel span {
  display: inline-block;
  min-width: 110px;
  margin-right: 2px;
  vertical-align: top;
}

.details {
  margin-right: 3px;
  padding: 5px 16px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
}

.details:hover {
  background-color: #669ec0;
}

.details:active {
  color: #629fc2;
  background-color: #5496bd;
}

.booking {
  padding: 5px 16px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #766357;
}

.booking:hover {
  background-color: #604e43;
}

.booking:active {
  color: #857871;
  background-color: #503e33;
}

.rating-container {
  margin-left: auto;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0;
  color: #81b3d2;
}

.stars li {
  margin-top: 3px;
  margin-right: 6px;
  width: 18px;
  height: 17px;
  line-height: 0;
  font-size: 0;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
}

.stars li:first-child {
  margin-right: 0px;
}

.rating {
  margin-top: 48px;
  margin-bottom: -3px;
  padding-top: 3px;
  padding-right: 11px;
  padding-bottom: 3px;
  padding-left: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
}
