body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #eaeaea;
}

.total-container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  margin: 0 auto;
  background-color: #fff;
}

.main-nav {
  line-height: 26px;
  position: relative;
  z-index: 1;
}

.main-logo {
  width: 140px;
  height: 71px;
  position: absolute;
  margin: 0 auto;
  left: 530px;
  z-index: 2;
}

.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav a {
  color: #000000;
}

.site-nav a:hover {
  color: #81b3d2;
}

.site-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-nav li {
  width: 239px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
}

.map {
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-photo {
  position: relative;
  width: 1200px;
  height: 718px;
  background-color: #81b3d2;
  background-image: url("../img/background_photo.jpg");
  background-position: 0 -54.8px;
  background-repeat: no-repeat;
}

.main-photo::before {
  content: "";
  position: absolute;
  top: 11%;
  left: 31%;
  width: 459px;
  height: 353px;
  background-image: url("../img/welcome.png");
}

.main-photo::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 29%;
  width: 1200px;
  height: 59px;
  background-image: url("../img/polygon.png");
}

.intro {
  position: absolute;
  bottom: -32%;
  width: 1200px;
  background-color: #ffffff;
}

.intro h3 {
  margin: 0;
  padding: 0;
  padding-top: 61px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.intro p {
  margin: 0;
  padding-top: 32px;
  padding-right: 356px;
  padding-bottom: 56px;
  padding-left: 355px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.reasons ul {
  list-style: none;
}

.reason-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.reason-list {
  margin: 0 auto;
  padding: 0;
}

.blue {
  width: 280px;
  height: 146px;
  padding-top: 46px;
  padding-right: 60px;
  padding-bottom: 64px;
  padding-left: 60px;
  background-color: #81b3d2;
}

.reason-item img {
  width: 800px;
  height: 256px;
}

.reason-item h3 {
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.reason-item p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.real-city {
  display: flex;
  margin: 0 auto;
  padding: 0;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
}

.house::before {
  content: "";
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 30px;
  width: 75px;
  height: 72px;
  background-image: url("../img/house_icon.svg");
  background-repeat: no-repeat;
}

.burger::before {
  content: "";
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 30px;
  width: 74px;
  height: 70px;
  background-image: url("../img/burger_icon.svg");
  background-repeat: no-repeat;
}

.souvenir::before {
  content: "";
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 30px;
  width: 64px;
  height: 72px;
  background-image: url("../img/souvenir_icon.svg");
  background-repeat: no-repeat;
}

.real-city li {
  width: 380px;
  padding-top: 80px;
  padding-right: 10px;
  padding-bottom: 71px;
  padding-left: 10px;
  margin: 0;
}

.bridge {
  display: flex;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #eeeeee;
}

.bridge li {
  width: 380px;
  margin: 0;
  padding-top: 29px;
  padding-right: 10px;
  padding-bottom: 45px;
  padding-left: 10px;
}

.real-city p,
.bridge p {
  color: #333333;
}

.hotel-search {
  margin: 0;
  padding: 0;
  width: 1200px;
  background-color: #fff;
}

.hotel-search h2 {
  margin: 0;
  padding: 0;
  padding-top: 53px;
  padding-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.hotel-search p {
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.search-btn {
  margin: 0;
  margin-top: 45px;
  margin-right: 316px;
  margin-left: 316px;
  padding: 0;
  padding-top: 32px;
  width: 568px;
  height: 54px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.search-btn:hover {
  background-color: #604e43;
}

.search-btn:active {
  background-color: #503e33;
}

@keyframes bounce {
  0% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateY(10px);
  }

  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }
}

.modal {
  display: none;
  position: absolute;
  margin: 0 316px;
  padding: 0;
  width: 568px;
  height: 395px;
}

.modal-search {
  line-height: 26px;
  background-color: #ffffff;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}

.modal-show {
  display: block;
  animation: bounce 0.5s;
}

.modal-error {
  animation: shake 0.5s;
}

.date-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  width: 458px;
  padding: 55px;
  padding-bottom: 0;
  margin: 0;
}

.arrival-calendar {
  position: absolute;
  top: 33%;
  right: 11%;
}

.departure-calendar {
  position: absolute;
  top: 68%;
  right: 11%;
}

.date-item input {
  width: 326px;
  margin: 0;
  margin-bottom: 29px;
  padding: 8px;
  padding-left: 12px;
  background-color: #f2f2f2;
  border: 0px solid transparent;
}

.date-item input:hover {
  background-color: #ebebeb;
}

.date-item input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.guests-item {
  width: 458px;
  display: flex;
  margin: 0;
  padding: 0;
}

.number-adults {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-right: 53px;
  padding-left: 55px;
}

.number-children {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-right: 55px;
}

.number-adults label {
  padding-right: 41px;
}

.number-children label {
  padding-right: 27px;
}

.btn-minus {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f2f2f2;
  border: 0px solid transparent;
}

.btn-minus:hover {
  background-image: url("../img/minus-hover.png");
}

.btn-minus:active {
  background-image: url("../img/minus-active.png");
}

.btn-plus {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f2f2f2;
  border: 0px solid transparent;
}

.btn-plus:hover {
  background-image: url("../img/plus-hover.png");
}

.btn-plus:active {
  background-image: url("../img/plus-active.png");
}

.number {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  text-align: center;
  border: 0px solid transparent;
}

.find-button {
  width: 458px;
  height: 58px;
  margin: 55px;
  margin-top: 54px;
  padding-top: 17px;
  padding-right: 197px;
  padding-bottom: 22px;
  padding-left: 196px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: 0px solid transparent;
}

.find-button:hover {
  background-color: #669ec0;
}

.find-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.sedona-map {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 36px;
  padding-right: 102px;
  padding-bottom: 25px;
  padding-left: 130px;
  background-color: #fefefe;
  opacity: 0.9;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
}

.footer-contacts a {
  padding-top: 7px;
  color: #000000;
}

.footer-socials {
  display: flex;
  margin: 0;
  margin-left: -54px;
  padding: 0;
}

.footer-socials li {
  list-style: none;
}

.footer-socials a {
  display: block;
  margin: 0;
  padding: 0;
  width: 46px;
  height: 48px;
  font-size: 0;
  line-height: 0;
  background-color: #81b3d2;
}

.footer-socials li:not(:last-child) {
  margin-right: 6px;
}

.footer-socials a:hover {
  background-color: #669ec0;
}

.twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  background-image: url("../img/fb_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.web {
  display: flex;
  align-items: center;
  margin: 0;
}

.website {
  margin: 0;
  padding-right: 8px;
  line-height: 26px;
  font-weight: 400;
}

.htmlacademy-logo path {
  fill: #000000;
}

.htmlacademy-logo:hover path {
  fill: #81b3d2;
}

.htmlacademy-logo:active path {
  fill: #bdbbbc;
}

/* inner */

.on-site {
  color: #766357;
}

.hotel-choice {
  display: flex;
  margin: 0 auto;
  padding-top: 28px;
  padding-right: 74px;
  padding-bottom: 32px;
  padding-left: 72px;
  background-image: url("../img/filter_background.jpg");
  background-repeat: no-repeat;
}

.hotel-choice p {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
}

.hotel-choice label {
  font-weight: 400;
  color: #ffffff;
}

.check {
  padding-left: 40px;
}

.check__box {
  position: absolute;
  margin-left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-2.png");
}

.check__input:checked + .check__box {
  width: 27px;
  background-image: url("../img/checkbox-on.png");
}

.check__input:focus + .check__box {
  background-image: url("../img/checkbox-off-2.png");
  background-repeat: no-repeat;
}

.check__input:checked:focus + .check__box {
  width: 27px;
  background-image: url("../img/checkbox-on.png");
}

.check__input:disabled + .check__box {
  background-image: url("../img/checkbox-off-disabled.png");
  background-repeat: no-repeat;
}

.check__input:checked:disabled + .check__box {
  width: 27px;
  background-image: url("../img/checkbox-on-disabled.png");
}

.infrastructure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.housing-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 119px;
}

.price {
  width: 316px;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
}

.price p {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .from,
.price-controls .to {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.price button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.price button:hover {
  color: #000000;
  background: #ffffff;
}

.sorts {
  display: flex;
  margin: 0 auto;
  padding-top: 31px;
  padding-right: 73px;
  padding-bottom: 33px;
  padding-left: 72px;
  background-color: #fff;
}

.find {
  margin: 0;
  font-size: 21px;
}

.sorting,
.sorts-list {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting {
  margin-right: 40px;
  margin-left: 49px;
}

.sorts-list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

.sorts-list li {
  list-style: none;
}

.sorts-list a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted;
  text-decoration-color: #81b3d2;
}

.sorts-list a:hover {
  color: #81b3d2;
  text-decoration: underline dotted;
  text-decoration-color: #81b3d2;
}

.sorts-list a:active {
  color: #000000;
  text-decoration: none;
}

.by-price {
  margin-right: 33px;
  color: #81b3d2;
}

.by-type {
  margin-right: 33px;
}

.up {
  margin: 0;
  margin-left: auto;
  padding-right: 12px;
}

.radio__input:hover polygon {
  fill: #231f20;
}

.radio__input:active polygon {
  fill: #81b3d2;
}


.gallery-list {
  margin: 0 auto;
  padding: 0;
  background-color: #fefefe;
  border-top: 1px solid #e5e5e5;
}

.gallery-item {
  display: flex;
  padding: 30px 72px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e5e5e5;
}

.gallery li {
  list-style: none;
}

.hotel-container {
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.hotel-name {
  margin: 0;
  margin-top: -4px;
  padding: 0;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.motel {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 15px;
  padding: 2px 0;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.motel span {
  display: inline-block;
  min-width: 110px;
  margin-right: 6px;
  vertical-align: top;
}

.details {
  margin-right: 3px;
  padding: 5px 17px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
}

.details:hover {
  background-color: #669ec0;
}

.details:active {
  color: #629fc2;
  background-color: #5496bd;
}

.booking {
  padding: 5px 17px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #766357;
}

.booking:hover {
  background-color: #604e43;
}

.booking:active {
  color: #857871;
  background-color: #503e33;
}

.raiting-container {
  margin-left: auto;
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  color: #81b3d2;
}

.stars li {
  margin-top: -1px;
  margin-right: 5px;
  width: 18px;
  height: 17px;
  line-height: 0;
  font-size: 0;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
}

.stars li:first-child {
  margin-right: 0px;
}

.rating {
  margin-top: 40px;
  margin-bottom: -3px;
  padding-top: 3px;
  padding-right: 13px;
  padding-bottom: 4px;
  padding-left: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
}
