body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #eaeaea;
}

a {
  text-decoration: none;
}

.main-nav {
  line-height: 26px;
}

.site-nav {
  list-style: none;
}

.site-nav a {
  color: #000000;
}

.site-nav a:hover {
  color: #81b3d2;
}

.site-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-photo {
  background-image:
    url("../img/background_photo.jpg");
  background-color: #ffffff;
}

.intro h3 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.intro p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.reasons ul {
  list-style: none;
}

.reason-item {
  color: #ffffff;
}

.reason-item h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.reason-item p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.item-1 {
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

.item-1 p,
.item-2 p {
  color: #333333;
}

.item-2 {
  color: #000000;

  background-color: #eeeeee;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.hotel-search p {
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.search-form h3 {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}

.search-form h3:hover {
  background-color: #604e43;
}

.search-form h3:active {
  background-color: #503e33;
}

.search-form {
  line-height: 26px;
}

.search-form button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #81b3d2;
}

.search-form button:hover {
  background-color: #669ec0;
}

.search-form button:active {
  color: #84b4d0;

  background-color: #5496bd;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
}

.footer-socials li {
  list-style: none;
}

.footer-socials a {
  color: #ffffff;

  background-color: #81b3d2;
}

.footer-socials a:hover {
  background-color: #669ec0;
}

.footer-socials a:active {
  color: #88b6d1;

  background-color: #5496bd;
}

.twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.facebook {
  background-image: url("../img/fb_icon.svg");
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
}

.website {
  line-height: 26px;
  font-weight: 400;
}


/* inner */

.on-site {
  color: #766357;
}

.hotel-choice {
  background-image: url("../img/filter_background.jpg");
  background-repeat: no-repeat;
}

.hotel-choice legend {
  font-size: 16px;
  color: #ffffff;
}

.hotel-choice label {
  font-weight: 400;
  color: #ffffff;
}

.price button {
  font-weight: 400;
  color: #ffffff;

  background-color: transparent;
}

.find {
  font-size: 21px;
}

.sorting,
.sorts-list {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorts-list li {
  list-style: none;
}

.by-price {
  color: #81b3d2;
}

.sorts-list a {
  color: rgba(0, 0, 0, 0.3);
}
.sorts-list a:hover {
  color: #81b3d2;
}

.sorts-list a:active {
  color: #000000;
}

.gallery-list {
  padding: 0;

  border-top: 2px solid #e5e5e5;
}

.gallery-item {
  border-bottom: 2px solid #e5e5e5;
}

.gallery li {
  list-style: none;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.gallery-item p {
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.details {
  line-height: 21px;
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.details:hover {
  background-color: #669ec0;
}

.details:active {
  color: #629fc2;

  background-color: #5496bd;
}

.booking {
  line-height: 21px;
  color: #ffffff;
  text-align: center;

  background-color: #766357;
}

.booking:hover {
  background-color: #604e43;
}

.booking:active {
  color: #857871;

  background-color: #503e33;
}

.stars {
  color: #81b3d2;
}

.stars li {
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
}

.rating {
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  text-align: center;

  background-color: #f2f2f2;
}

/* Сеточные стили */

.site-nav {
  width: 1200px;
  display: flex;
  margin: 0;
}

.site-nav li {
  width: 239px;
  padding: 0;
  margin-top: 22px;
  margin-bottom: 22px;
}

.main-header {
  width: 1200px;
  background-color: #fff;
  margin: 0 auto;
}

.main-nav {
  position: relative;
}

.main-logo {
  position: absolute;
  right: 530px;
}

.ml {
  margin-left: auto;
}

.reason-item {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.reason-list {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

}

.blue {
  width: 280px;
  height: 146px;
  padding-top: 46px;
  padding-right: 60px;
  padding-bottom: 64px;
  padding-left: 60px;

  background-color: #81b3d2;
}

.reason-item img {
  width: 800px;
  height: 256px;
}

.item-1 {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.item-1 li {
  width: 400px;
  padding: 0;
  margin-top: 161px;
  margin-bottom: 85px;
}

.item-1 .house {
  width: 75px;
  height: 72px;
}

.item-1 .burger {
  width: 74px;
  height: 72px;
}

.item-1 .souvenir {
  width: 64px;
  height: 76px;
}

.item-2 {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.item-2 li {
  width: 400px;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 63px;
}

.hotel-search {
  background-color: #fff;
}

.main-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: #f9fbf6;
}

.footer-contacts {
  width: 400px;
  margin-top: 36px;
  margin-left: 132px;
}

.footer-socials {
  display: flex;
  width: 400px;
  margin: 0 auto;
  margin-top: 36px;
}

.web {
  display: flex;
  width: 400px;
  margin: 0 auto;
  margin-top: 38px;
}

.website {
  padding-right: 8px;
}

/* Сеточные стили для inner */

.sorts {
  display: flex;
  width: 1200px;
  height: 86px;
  margin: 0 auto;
  padding: 0;

  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}

.find {


}

.sorting {

}

.sorts-list {
  display: flex;
}

.gallery-list {
  width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;

  background-color: #fefefe;
}

.img-container {
  display: flex;
  padding: 0;
  margin-top: 30px;
  margin-left: 72px;
}

.hotel-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 237px;
}

.from {
  margin-left: 353px;
}

.details {
  width: 110px;
  height: 27px;
}

.booking {
  width: 142px;
  height: 27px;
  margin-left: 353px;
}

.rating-container {
  display: flex;
  margin: o auto;
}

.stars {
  display: flex;
}

.stars li {
  margin-top: 29px;
  margin-left: auto;
}

.rating {
  width: 110px;
  height: 27px;
  margin-top: 93px;
  margin-left: auto;
}
